* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  /* outline: 1px solid red; */
}

body {
  background-color: rgba(238, 238, 238, 0.8);
  text-align: center;
}

.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  width: 30%;
  font-size: 2rem;
  font-weight: 900;
  padding: 10px;
  text-shadow: 1px 1px #222;
  border-bottom: 2px solid #222;
  border-top: 2px solid #222;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 1rem 0 1rem 0;
}

.link-wrapper {
  width: auto;
  padding: 10px;
}

.nav-link {
  margin: 0 30px 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
}

.nav-link:hover {
  border-bottom: 2px solid #444;
}

.section {
  margin: 2rem 0 4rem 0;
}

.section-header {
  margin: 2rem 0 3rem 0;
  font-size: 2rem;
}

/* Portfolio section */

.grid__container {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 3rem 5rem 3rem 5rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid__item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.grid__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  background-position: center;
  transition: 0.5s ease-in-out;
}

.grid__item:hover img {
  transform: scale(1.15);
}

#item1 {
  grid-column: span 3;
  grid-row: span 2;
}
#item2 {
  grid-column: span 3;
}
#item3 {
  grid-column: span 2;
}
#item4 {
  grid-column: span 2;
  grid-row: span 2;
}
#item5 {
  grid-column: span 5;
  grid-row: span 2;
}
#item6 {
  grid-column: span 3;
}
#item7 {
  grid-column: span 2;
  grid-row: span 1;
}
#item8 {
  grid-column: span 4;
  grid-row: span 1;
}
#item9 {
  grid-column: span 2;
}
#item10 {
  grid-column: span 4;
}
#item11 {
  grid-column: span 5;
}
#item12 {
  grid-column: span 5;
}

/* Services section */

.services-list {
  margin: 2rem 0 2rem 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-item img {
  height: 80%;
  width: 90%;
  object-fit: cover;
  object-position: 50% 50%;
  background-position: center;
}

.service-item h4 {
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
}

.service-item p {
  font-size: 1.2rem;
}

#service-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#service-item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
#service-item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
#service-item4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#service-item5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
#service-item6 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* Contact section */

.contact-header p {
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 10%;
  color: #fff;
}

.label {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0 1rem 0;
}

.input {
  height: 2rem;
  width: auto;
  padding: 0.5rem;
  border: 2px solid #444;
}

.textarea {
  padding: 0.5rem;
  border: 2px solid #444;
}

.submit {
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  width: 5rem;
  margin: 1rem;
  border: 2px solid #444;
}

/* Footer */

.footer {
  background-color: black;
  height: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 1.5rem;
}

/* Media queries for responsiveness */

@media screen and (max-width: 900px) {
  .header h1 {
    width: auto;
    font-size: 1.5rem;
  }

  .navbar {
    height: 2rem;
    margin: 0.5rem 0 0.5rem 0;
  }

  .nav-link {
    margin: 0 10px 0 10px;
  }

  .grid__container {
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  #item1,
  #item2,
  #item3,
  #item4,
  #item5,
  #item6,
  #item7,
  #item8,
  #item9,
  #item10,
  #item11,
  #item12 {
    grid-column: unset;
    grid-row: unset;
  }
}

@media screen and (max-width: 600px) {
  .services-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  #service-item1,
  #service-item2,
  #service-item3,
  #service-item4,
  #service-item5,
  #service-item6 {
    grid-column: unset;
    grid-row: unset;
  }

  .form-container form {
    width: 16rem;
  }
} ;
